<div class="flex w-full gap-1">
	<img
		*ngIf="value$ | async | isMaterial"
		[src]="'assets/minecraft/materials/' + (value$ | async | lowercase) + '.png'"
		alt=""
		aria-hidden="true"
		class="block aspect-square w-7"
		matIconPrefix
	/>
	<input
		[matAutocomplete]="auto"
		[ngModel]="value"
		(ngModelChange)="onValueChange($event)"
		class="input w-full"
		type="text"
		placeholder=""
		aria-label="Material"
	/>
	<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
		<mat-option *ngFor="let material of autocomplete$ | async" [value]="material">
			<div class="flex w-full items-center gap-3 bg-dark-900 px-2 py-1 hover:bg-dark-800">
				<img
					[src]="'assets/minecraft/materials/' + (material | lowercase) + '.png'"
					alt=""
					aria-hidden="true"
					class="block aspect-square w-7"
				/>
				<p class="h-4 text-sm">{{ material }}</p>
			</div>
		</mat-option>
	</mat-autocomplete>
</div>
