<div class="flex items-center justify-between bg-primary-600 px-4 py-3">
	<h2 class="text-base font-medium">{{ fileName !== "" ? fileName : "No file has been uploaded yet" }}</h2>
	<div class="flex gap-3">
		<ng-container *ngIf="fileName !== ''; else uploadSection">
			<app-icon-button text="Remove" icon="delete" (clickEvent)="delete.emit()"></app-icon-button>
			<a [href]="downloadLink" [download]="fileName">
				<app-icon-button text="Save" icon="save"></app-icon-button>
			</a>
		</ng-container>
		<ng-template #uploadSection>
			<app-file-input (fileUpload)="upload.emit($event)" accept=".json,.yaml,.yml" text="Upload" icon="upload"></app-file-input>
		</ng-template>
	</div>
</div>
