<div class="mx-auto max-w-7xl pt-8">
	<header class="mb-64 mt-32">
		<div>
			<h1 class="text-gradient mb-2 max-w-[500px] text-4xl font-extrabold">Items Creator is not available yet</h1>
			<p class="mb-8 max-w-[600px] text-base text-gray-300">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo beatae exercitationem rem corrupti esse
				optio nesciunt obcaecati, velit tempore molestias doloribus.
			</p>
			<div class="flex gap-4">
				<button class="button button--primary">Browse Tools</button>
				<button class="button gap-2">
					<mat-icon>code</mat-icon>
					<span>Contact Developer</span>
				</button>
			</div>
		</div>
		<div>
			<img src="" alt="" />
		</div>
	</header>
</div>
