// Scrollbar
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: theme("colors.dark.800");
}

::-webkit-scrollbar-thumb {
	background: theme("colors.dark.600");
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: theme("colors.dark.500");
}

// Inputs
.input {
	@apply px-2 py-1 w-full text-white rounded-md bg-dark-900/50 focus:outline-none focus:ring-1 focus:ring-dark-900 hover:bg-dark-900/75 focus:bg-dark-900;
}

.input--transparent {
	@apply bg-transparent hover:bg-dark-900/50;
}
