// Autocomplete reset
.mat-mdc-autocomplete-panel {
	padding-block: 0 !important;
}

.mdc-list-item__primary-text {
	width: 100% !important;
}

.mat-mdc-option {
	width: 100%;
	height: auto !important;
	min-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
}

.mdc-list-item--selected .mdc-list-item__primary-text,
.mdc-list-item--activated .mdc-list-item__primary-text {
	color: theme("colors.primary.400") !important;
}

// Menu reset
.mat-mdc-menu-panel .mat-mdc-menu-content {
	padding: 0;
}

.mat-mdc-menu-item {
	width: 100%;
	height: auto !important;
	min-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
	--mdc-chip-elevated-container-color: theme("colors.dark.800");
}
