// Autocomplete reset
.mat-mdc-autocomplete-panel {
	padding-block: 0 !important;
}

.mdc-list-item__primary-text {
	width: 100% !important;
}

.mat-mdc-option {
	padding: 0 !important;
	margin: 0 !important;
	height: auto !important;
	min-height: unset !important;
	width: 100%;
}

.mdc-list-item--selected .mdc-list-item__primary-text,
.mdc-list-item--activated .mdc-list-item__primary-text {
	color: theme("colors.primary.400") !important;
}

// Menu reset
.mat-mdc-menu-panel .mat-mdc-menu-content{
	padding: 0;
}

.mat-mdc-menu-item{
	padding: 0 !important;
	margin: 0 !important;
	height: auto !important;
	min-height: unset !important;
	width: 100%;
}