@use "@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 700);
$accent: mat.define-palette(mat.$amber-palette, 500);
$typography: mat.define-typography-config(
	$font-family: "Poppins",
);

$theme: mat.define-dark-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
		),
		// Only include `typography` and `density` in the default dark theme.
		typography: $typography,
		density: 0,
	)
);

// Apply the dark theme by default
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "reset";
@import "material-reset";
@import "components";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Poppins";
	}
}

body {
	font-family: "Poppins", sans-serif;
}

.minecraft-font {
	font-family: "MinecraftiaRegular";
	font-style: normal;
	font-weight: normal;
}
