@use "@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 700);
$accent: mat.define-palette(mat.$amber-palette, 500);

$theme: mat.define-dark-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
		),
		// Only include `typography` and `density` in the default dark theme.
		typography: mat.define-typography-config(),
		density: 0,
	)
);

// Apply the dark theme by default
@include mat.core-theme($theme);
@include mat.button-theme($theme);

@import "reset";
@import "material-reset";
@import "components";

@tailwind base;
@tailwind components;
@tailwind utilities;

.minecraft-font {
	font-family: "MinecraftiaRegular";
	font-style: normal;
	font-weight: normal;
}

body {
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	span,
	button {
		font-family: "Poppins", sans-serif;
	}
}
