<div class="mx-auto max-w-7xl pt-8">
	<header class="mb-64 mt-32">
		<div>
			<h1 class="text-gradient mb-2 max-w-[500px] text-4xl font-extrabold">BEST GAME TOOLS ON THE MINECRAFT MARKET</h1>
			<p class="mb-8 max-w-[600px] text-base text-gray-300">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo beatae exercitationem rem corrupti esse
				optio nesciunt obcaecati, velit tempore molestias doloribus.
			</p>
			<div class="flex gap-4">
				<button class="button button--primary">Browse Tools</button>
				<button class="button gap-2">
					<mat-icon>code</mat-icon>
					<span>Contact Developer</span>
				</button>
			</div>
		</div>
		<div>
			<img src="" alt="" />
		</div>
	</header>
	<div class="mb-4 md:mb-8">
		<h2 class="mb-2 text-3xl font-extrabold"><span class="text-primary">Minecraft Tools</span></h2>
		<p class="max-w-[600px] text-base text-gray-300">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, placeat ipsum. Molestias vero nobis
			consectetur id vitae quas adipisci natus et, voluptatum quisquam minima omnis.
		</p>
	</div>
	<ul class="flex flex-wrap gap-4 md:gap-8">
		<li class="min-w-[300px] flex-1">
			<app-sub-page-card
				title="Config Editor"
				description="Upload and edit any json and yaml config. This editor has additional support for minecraft configs."
				image="https://www.lighthouselabs.ca/uploads/post/open_graph_image/459/Coding-vs-programming.jpg"
			></app-sub-page-card>
		</li>
		<li class="min-w-[300px] flex-1">
			<app-sub-page-card
				title="Item Creator"
				description="Create custom minecraft with ease. Just click here and there, copy the command and paste it in the game!"
				image="https://i.ytimg.com/vi/pKFhPjom5L4/maxresdefault.jpg"
			></app-sub-page-card>
		</li>
		<li class="min-w-[300px] flex-1">
			<app-sub-page-card
				title="Text Generator"
				description="With this editor you'll edit any minecraft text with ease. It supports color codes and minimessage."
				image="https://t4.ftcdn.net/jpg/04/95/28/65/360_F_495286577_rpsT2Shmr6g81hOhGXALhxWOfx1vOQBa.jpg"
			></app-sub-page-card>
		</li>
	</ul>
</div>
