<div
  class="flex pl-1 pr-2 py-1 my-2 h-9 leading-5 bg-dark-800 rounded-md hover:bg-dark-700/50 border-b-[1px] border-dark-700"
>
  <input class="input input--transparent w-48" [value]="path | lastPathKey" />
  <span class="mx-1 w-[1px] bg-dark-700"></span>
  <!-- <input class="input" [(ngModel)]="value" (focusout)="valueChange.emit({ path: path, value: value })" /> -->

  <container-element [ngSwitch]="value | strictTypeOf">
    <app-boolean-input
      *ngSwitchCase="'boolean'"
      [value]="value"
      (valueChange)="valueChange.emit({ path: path, value: $event })"
    ></app-boolean-input>
    <app-integer-input
      *ngSwitchCase="'integer'"
      [value]="value"
      (valueChange)="valueChange.emit({ path: path, value: $event })"
    ></app-integer-input>
    <app-double-input
      *ngSwitchCase="'double'"
      [value]="value"
      (valueChange)="valueChange.emit({ path: path, value: $event })"
    ></app-double-input>
    <app-string-input
      *ngSwitchCase="'string'"
      [value]="value"
      (valueChange)="valueChange.emit({ path: path, value: $event })"
    ></app-string-input>
  </container-element>
  <!-- <app-material-input></app-material-input> -->
  <mat-icon class="ml-auto block leading-7" [style]="{ fontSize: iconSize, height: iconSize }">
    {{ value | typeIcon }}
  </mat-icon>
</div>
