<div
	class="flex pl-1 pr-2 py-1 my-2 h-9 leading-5 bg-dark-800 rounded-md hover:bg-dark-700/50 border-b-[1px] border-dark-700"
>
	<input class="input input--transparent w-48" [value]="path | lastPathKey" />
	<span class="mx-2 w-[1px] bg-dark-700"></span>
	<!-- <input class="input" [(ngModel)]="value" (focusout)="valueChange.emit({ path: path, value: value })" /> -->

	<div class="w-full" [ngSwitch]="value | typeOf">
		<app-boolean-input
			*ngSwitchCase="'boolean'"
			[value]="value"
			(valueChange)="valueChange.emit({ path: path, value: $event })"
		></app-boolean-input>
		<app-number-input
			*ngSwitchCase="'number'"
			[value]="value"
			(valueChange)="valueChange.emit({ path: path, value: $event })"
		></app-number-input>
		<ng-container *ngSwitchCase="'string'">
			<app-material-input
				*ngIf="value && ['material', 'type'].includes(path | lastPathKey) else defaultStringInput"
				[value]="value"
				(valueChange)="valueChange.emit({ path: path, value: $event })"
			></app-material-input>
      <ng-template #defaultStringInput>
			<app-string-input
				[value]="value"
				(valueChange)="valueChange.emit({ path: path, value: $event })"
			></app-string-input>
    </ng-template>
		</ng-container>
	</div>
	<mat-icon class="block mx-2 leading-7" [style]="{ fontSize: iconSize, height: iconSize }">
		{{ value | typeIcon }}
	</mat-icon>
</div>
