<!-- <app-minecraft-text-preview [name]="name" [lore]="lore"></app-minecraft-text-preview> -->
<div class="overflow-hidden rounded-md shadow-lg">
	<app-editor-header
		[fileName]="fileName$ | async"
		[downloadLink]="downloadLink$ | async"
		(delete)="onConfigRemove()"
		(upload)="onUpload($event)"
		(sampleConfigClick)="onSampleConfigClick()"
	></app-editor-header>
	<div class="h-[80vh] min-h-[200px] overflow-y-scroll bg-dark-800 p-3">
		<app-config-tree
			[configSection]="configuration$ | async"
			(valueChange)="onValueChange($event)"
			(keyChange)="onKeyChange($event)"
			(addSubKey)="onAddSubKey($event)"
			(changeType)="onChangeType($event)"
			(clone)="onKeyClone($event)"
			(remove)="onKeyRemove($event)"
		></app-config-tree>
	</div>
</div>
