<div class="flex flex-wrap gap-2">
	<button class="hover:scale-105" matTooltip="Apply Bold: &l" (click)="onFormatButtonClick('&l')">
		<mat-icon>format_bold</mat-icon>
	</button>
	<button class="hover:scale-105" matTooltip="Apply Italic: &o" (click)="onFormatButtonClick('&i')">
		<mat-icon>format_italic</mat-icon>
	</button>
	<button class="hover:scale-105" matTooltip="Apply Underline: &n" (click)="onFormatButtonClick('&n')">
		<mat-icon>format_underline</mat-icon>
	</button>
	<button class="hover:scale-105" matTooltip="Apply Strikethrough: &m" (click)="onFormatButtonClick('&m')">
		<mat-icon>format_strikethrough</mat-icon>
	</button>
	<button class="hover:scale-105" matTooltip="Apply Obfuscated: &k" (click)="onFormatButtonClick('&k')">
		<mat-icon>auto_awesome</mat-icon>
	</button>
	<button class="hover:scale-105" matTooltip="Apply Reset: &r" (click)="onFormatButtonClick('&r')">
		<mat-icon>replay</mat-icon>
	</button>
</div>
