.tree {
  @apply p-4;

  ul,
  li {
    @apply my-0;
  }

  /*
   * This padding sets alignment of the nested nodes.
   */
  .mat-nested-tree-node div[role="group"] {
    @apply pl-6 rounded-lg border-l-2 border-dark-800/50;
    border-left: 2px solid theme("colors.dark.800/50");
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  div[role="group"] > .mat-tree-node {
    padding-left: 40px;
  }
}
