<div [ngClass]="nested ? 'pl-6 rounded-lg border-l-2 border-dark-800/50 my-4' : ''">
  <ng-container *ngIf="getEntries(configSection) as entries">
    <div *ngFor="let entry of entries">
      <!-- Single Field -->
      <app-field-container
        *ngIf="!isFieldExpandable(entry[1]); else expand"
        [key]="entry[0]"
        [icon]="getFieldIcon(entry[1])"
      >
        {{ entry[1] }}
      </app-field-container>
      <!-- Multi Field -->
      <ng-template #expand>
        <app-section-header
          [key]="entry[0]"
          [expanded]="isExpanded(entry[0])"
          (iconClick)="toggleSectionExpansion($event)"
          class="block my-4"
        >
          {{ entry[0] }}
        </app-section-header>
        <app-config-section
          *ngIf="isExpanded(entry[0])"
          [key]="entry[0]"
          [configSection]="entry[1]"
          [nested]="true"
        ></app-config-section>
      </ng-template>
    </div>
  </ng-container>
</div>
