<p>
	<mat-toolbar class="flex justify-between p-0">
		<div class="flex">
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
				<mat-icon>menu</mat-icon>
			</button>
			<span class="flex items-center text-xl">McConfig</span>
		</div>
		<div class="flex gap-4">
			<button mat-raised-button color="primary" class="flex items-center">
				<mat-icon>delete</mat-icon>
				<span>Delete</span>
			</button>
			<button mat-raised-button color="primary" class="flex items-center">
				<mat-icon>save</mat-icon>
				<span>Save</span>
			</button>
		</div>
	</mat-toolbar>
</p>
