<ng-container *ngIf="root || (expandedPaths && expandedPaths[path])">
	<div
		*ngFor="let entry of configEntries | entries; trackBy: trackEntry"
		[ngClass]="root ? '' : 'border-l-2 border-dark-700/50 pl-6'"
	>
		<!-- Field (String, Number, Boolean) -->
		<app-config-node
			*ngIf="(entry.value | typeOf) !== 'object'; else nestedNode"
			[path]="entry.key | combinePath : path : root"
			[value]="entry.value"
			(valueChange)="valueChange.emit($event)"
			(keyChange)="keyChange.emit($event)"
			(clone)="clone.emit($event)"
			(remove)="remove.emit($event)"
			(changeType)="onChangeType($event)"
		></app-config-node>
		<!-- Nested Node (Object, Array) -->
		<ng-template #nestedNode>
			<app-config-node-header
				[path]="entry.key | combinePath : path : root"
				[expanded]="!!(expandedPaths && expandedPaths[entry.key | combinePath : path : root])"
				(expandToggle)="expandToggle.emit($event)"
				(addSubKey)="onAddSubKey($event)"
				(changeType)="onChangeType($event)"
				(remove)="remove.emit($event)"
				(clone)="clone.emit($event)"
			></app-config-node-header>
			<app-config-nested-node
				[path]="entry.key | combinePath : path : root"
				[configEntries]="entry.value"
				[expandedPaths]="expandedPaths"
				(addSubKey)="onAddSubKey($event)"
				(expandToggle)="expandToggle.emit($event)"
				(valueChange)="valueChange.emit($event)"
				(changeType)="onChangeType($event)"
				(keyChange)="keyChange.emit($event)"
				(remove)="remove.emit($event)"
				(clone)="clone.emit($event)"
			></app-config-nested-node>
		</ng-template>
	</div>
</ng-container>
