<mat-form-field class="example-full-width" appearance="fill" class="w-full">
  <mat-label>Material</mat-label>
  <input
    type="text"
    placeholder=""
    aria-label="Material"
    matInput
    [matAutocomplete]="auto"
    [ngModel]="inputContent"
    (ngModelChange)="onChange($event)"
  />
  <img
    [src]="'assets/minecraft/materials/' + (input | async | lowercase) + '.png'"
    alt=""
    aria-hidden="true"
    class="w-8 h-8 ml-3 mr-2 block"
    matIconPrefix
    *ngIf="canShowIcon()"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let material of autocomplete$ | async" [value]="material">
      <div class="flex align-middle gap-4">
        <img
          [src]="'assets/minecraft/materials/' + (material | lowercase) + '.png'"
          alt=""
          aria-hidden="true"
          class="w-8 h-8"
        />
        <p>{{ material }}</p>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
